.mapLabel {
  margin-left: 2rem;
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  .mapLabel {
    position: absolute;
    right: 0;
    margin-left: 0;
    margin-top: -10rem;
    margin-right: 1rem;
  }
}

@media (min-width: 1280px) {
  .mapLabel {
    margin-top: -13rem;
  }
}
